<!DOCTYPE html>
<head>
  <title>GPT 3.5 Turbo</title>
  <link rel="icon" href="{{ url_for('static', filename='dog.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <h3>Введите запрос к GPT 3.5 Turbo</h3>
  <form action="/" method="post">
    <input type="textarea" class="textarea" name="animal" placeholder="Введите сообщение" required />
    <input type="submit" value="Отправить запрос" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
