<!DOCTYPE html>
<head>
  <title>GPT 3.5 Turbo</title>
  <link rel="icon" href="{{ url_for('static', filename='dog.png') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />  
  {% if result %}
  <div class="result">
    <h4 class="responce_h4">Ответ {{ req }}</h3>
    <p class="result_p">{{ result }}</p>
  </div>
  {% endif %}
  <h3>Введите сообщение</h3>
  <form action="/" method="post">
    <input type="textarea" class="textarea" name="animal" placeholder="Введите сообщение" required />
    <input type="submit" value="Отправить запрос" />
  </form>
  
</body>
